

/*!
Japanese style sheet
*/

* {
 font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;
}

body {
	padding-top: 70px;
}
h1 {
	color: #0e387a;
	/* color: #6599FF; */
}

h4 {
	color: #0e387a;
	/* color: #6599FF; */
}

h1,h2,h3{ font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;}


.navbar .navbar-nav { font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;}
.navbar.navbar-default.navbar-static-top{ font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;}
.navbar .navbar-header { font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;}
.navbar-default .navbar-brand { font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック',sans-serif;}

.navbar-default  {
	 /* Change this to your desired background color#EEF4C8 #87cefa*/
	  background-color:#CCE6FF;
  }
  .navbar-default .navbar-brand {
	color: #2057af; /* Change this to your desired text color */
	  font-size: 30px;
	font-family: 'Helvetica', Arial, sans-serif;
  }
  .navbar-default .navbar-nav > li > a {
	color:  #14499e; /* Change this to your desired nav item text color */
	  font-size: 18px;
	  font-weight: bold;
	font-family: 'Helvetica', Arial, sans-serif;
  }
  .navbar-default .navbar-nav > li > a:hover {
	/* color: #ff6347; Change this to your desired hover color */
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
	color: white; /* Text color of the active nav item */
	background-color: #074c7a; /* Background color of the active nav item */
  }
.shiny-output-error-validation {
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error { 
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error:before { 
	visibility: visible; 
	content: 'OOps! Something went wrong. Please check your inputs......  '; 
	color: #ff6347;
}
 
.selectize-control.single .selectize-dropdown{ 
	color: grey;
	font-weight: bold;
}

.selectize-input { 
	font-weight: bold;
}

.selected {
	font-weight: bold !important;
}

/*!
Japanese style sheet
*/

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Sans+SC");
* {
    font-family: "Noto Sans JP", "Noto Sans SC", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;    
}
