

* {
	font-family: Arial, sans-serif;
}

body {
	padding-top: 70px;
}

.shiny-output-error-validation {
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error { 
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error:before { 
	visibility: visible; 
	content: 'OOps! Something went wrong. Please check the input parameter and data (such as variable name and data type)......'; 
	color: #ff6347;
}
 
.selectize-control.single .selectize-dropdown{ 
	color: grey;
	font-weight: bold;
}

.selectize-input { 
	font-weight: bold;
}

.selected {
	font-weight: bold !important;
}