

body {
	padding-top: 70px;
	font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
	color: #0e387a;
	/* color: #6599FF; */
}

h4 {
	color: #0e387a;
	/* color: #6599FF; */
}
.shiny-output-error-validation {
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error { 
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error:before { 
	visibility: visible; 
	content: 'OOps! Something went wrong. Please check your inputs......  '; 
	color: #ff6347;
}
 
.selectize-control.single .selectize-dropdown{ 
	color: grey;
	font-weight: bold;
}

.selectize-input { 
	font-weight: bold;
}

.selected {
	font-weight: bold !important;
}

.navbar-default  {
	 /* Change this to your desired background color */
  }
  .navbar-default .navbar-brand {
	  background-color:#87cefa;
	color: #2057af; /* Change this to your desired text color */
	font-family: 'Helvetica', Arial, sans-serif;
  }
  .navbar-default .navbar-nav > li > a {
	color:  #14499e; /* Change this to your desired nav item text color */
	font-family: 'Helvetica', Arial, sans-serif;
  }
  .navbar-default .navbar-nav > li > a:hover {
	/* color: #ff6347; Change this to your desired hover color */
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
	color: white; /* Text color of the active nav item */
	background-color: #074c7a; /* Background color of the active nav item */
  }
