
body {
	padding-top: 70px;
font-family: 'SimSun', "Microsoft YaHei", "微软雅黑", sans-serif;
}
.navbar .navbar-nav { font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.navbar.navbar-default.navbar-static-top{ font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.navbar .navbar-header { font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;}
.navbar-default .navbar-brand { font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;}

h1,h2,h3{ font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;}

h1 {
	color: #0e387a;
	/* color: #6599FF; */
}

h4 {
	color: #0e387a;
	/* color: #6599FF; */
}

.shiny-output-error-validation {
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error { 
	color: #4169e1; 
	font-weight: bold;
}

.shiny-output-error:before { 
	visibility: visible; 
	content: 'OOps! Something went wrong. Please check your inputs......  '; 
	color: #ff6347;
}
 
.selectize-control.single .selectize-dropdown{ 
	color: grey;
	font-weight: bold;
}

.selectize-input { 
	font-weight: bold;
}

.selected {
	font-weight: bold !important;
}

/*!
Chinese style sheet
*/

* {
font-family: 'SimSun', "Microsoft YaHei", "微软雅黑", sans-serif;
}
