.body {
	padding-top: 70px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown {background-color: inherit;margin: 0;}